LOG_LEVEL=http
PORT=3000
OPENAPI_HOST=http://localhost:3000
OPENAPI_VISIBLE=true
DATABASE_FILE=database.sqlite
SEED_DATA=true
BYPASS_AUTH=false
CAS_URL=https://testcas.cs.ksu.edu
CAS_SERVICE_URL=https://localhost:5173
JWT_SECRET_KEY='generateauniquekey'
SESSION_NAME=lostcommunities
