LOG_LEVEL=http
PORT=3000
OPENAPI_HOST=http://localhost:3000
OPENAPI_VISIBLE=true
SEED_DATA=true
BYPASS_AUTH=false
CAS_URL=https://testcas.cs.ksu.edu
CAS_SERVICE_URL=https://localhost:5173
JWT_SECRET_KEY='generateauniquekey'
SESSION_NAME=lostcommunities
# Database Settings
# Options are "sqlite" or "postgres"
DATABASE_DIALECT=sqlite
# File is specified for SQLite
DATABASE_FILE=database.sqlite
# Other settings are for Postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=lostcommunities
DATABASE_PASSWORD=lostcommunities
DATABASE_NAME=lostcommunities